.reset-form {
    .instructions {
        font: normal normal normal 14px/20px Helvetica Neue;
        padding-bottom: 20px;
    }

    .submit-button-container {
        padding-top: 20px;
        text-align: center;
    }
}
